* {
    margin: 0 auto;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}

* > a {
    color: inherit;
    text-decoration: none;
}

body {
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    height: 100%;
    width: 100%;
}



.header-navbar {
    
    padding: 1vh;
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    height: 7vh;
    width: 100%;
    color: antiquewhite;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    
}

.navbar-div1 {
    display: flex;
    text-align: start;
    width: 100%;
    height: 100%;
    align-items: center;
    
}


.navbar-ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 85vh;
    list-style-type: none;
}

.navbar-ul li {
    margin: 1vh;
    
}


.navbar-ul a {
    color: inherit;
    text-decoration: none;
}



@media  (max-width: 600px ) {

    .header-navbar {
        background: linear-gradient(to left , #080808 , #1d2022 , #262b30 );
        height: 7vh;
        width: 100%;
        
    }

    .navbar-ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-left: 4vh;
        padding-right: 1vh;
        list-style-type: none;
        font-size: 10px;
    }
}



/*  ==== BIENVENIDA ====  */


.bienvenida {
    padding: 1vh;
    color: antiquewhite;
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "titulo titulo"
    "imagen texto"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
    gap: 1vh 0vh;
}

.bienvenida .main-div1 {
    grid-area: titulo;
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.bienvenida .main-div2 {
    grid-area: imagen;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to right, #363b3f, #131616 );
}

.bienvenida .main-div3 {
    grid-area: texto;
    background: linear-gradient(to left, #363b3f, #131616 );
    width: 100%;
    height: 100%;
}

.bienvenida .main-div1 div {
    height: 30vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
}

.bienvenida .main-div1 div h1 {
    margin-top: 1rem;
    height: 7vh;
    font-weight: 900;
    font-size: 2rem;
}

.bienvenida .main-div1 div h3 {
    height: 7vh;
    font-weight: 700;
    font-size: 2.5rem;
    background: linear-gradient(to left, #756a02 , #9ba50a , #fff820 );
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
    transition: 0.5s;
}


.bienvenida .main-div1 div p {
    margin-top: 1vh;
    padding: 1vh;
    height: 7vh;
    width: 50vh;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
}


.bienvenida .main-div2 div {
    margin: 1vh;
    margin-right: 0;
    padding: 1vh;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenida .main-div2 div div {
    margin: 1vh;
    margin-right: 0;
    padding: 1vh;
    padding-right: 0;
    border: bisque 1px solid;
    border-radius: 1rem;
    background: linear-gradient(to left, #131616 , #363b3f , #474d50 );
}

.bienvenida .main-div2 p {
    width: 60vh;
    margin: 1vh;
    padding: 1vh;

}


.bienvenida .main-div2 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    width: 13vh;
    padding: 1vh;
    height: 4vh;
    color: white;

}

.bienvenida .main-div2 li {
    height: 1rem;
    width: 2rem;
    padding: 1px;
    margin: 1px;
    font-size: 1.5rem;
}

.bienvenida .main-div2 a {
    color: inherit;
    text-decoration: none;
}

.bienvenida .main-div2 div ul li {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3px;
    padding-top: 4px;
    
}

.bienvenida .main-div2 div ul li a,
.bienvenida .main-div2 div ul li a svg {
    width: 80%;
    height: 80%;
    
}


.bienvenida .main-div2 div ul li a svg {
    box-shadow: 0 0 10px #575755, 0 0 15px #575755, 0 0 20px #575755, 0 0 25px #575755, 0 0 35px #575755;
}


.bienvenida .main-div3 {
    
}

.bienvenida .main-div3 div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenida .main-div3 div img {
    height: 33rem;
    margin-left: 2rem;
    border-radius: 1rem;
}


@media  (max-width: 600px ) {

    body {
        background: linear-gradient(to right, #363b3f, #131616 );
    }

    /** ==== SECCION BIENVENIDA RESPONSIVE */
    /** ==== SECCION BIENVENIDA RESPONSIVE */
    /** ==== SECCION BIENVENIDA RESPONSIVE */

    .bienvenida {
        padding: 0;
        padding-bottom: 0;
        margin: 0;
        color: antiquewhite;
        background: linear-gradient(to right, #363b3f, #131616 );
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0;
    }

    

    .bienvenida .main-div1 {
        background: linear-gradient(to top, #363b3f, #131616 );
    }

    .bienvenida .main-div1 div {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    }
    
    .bienvenida .main-div1 div h1 {
        width: 100%;
        margin: .3rem;
        height: 7vh;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .bienvenida .main-div1 div h3 {
        height: 7vh;
        font-weight: 700;
        font-size: 1.2rem;
        background: linear-gradient(to left, #756a02 , #9ba50a , #fff820 );
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;
       
    }
    
    
    .bienvenida .main-div1 div p {
        margin: 1vh;
        padding: 1vh;
        height: 7vh;
        width: 100%;
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 0.8rem;
    }


    .bienvenida .main-div2 {
        grid-area: imagen;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        background: linear-gradient(to bottom, #363b3f, #131616 );
    }

    .bienvenida .main-div2 div {

        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .bienvenida .main-div2 div div {
        width: 80%;
        border: bisque 1px solid;
        border-radius: 1rem;
        background: linear-gradient(to left, #131616 , #363b3f , #474d50 );
    }
    
    .bienvenida .main-div2 p {
        width: 100%;
        margin: 1vh;
        padding: 1vh;
    
    }
    
    
    .bienvenida .main-div2 ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        width: 13vh;
        padding: 1vh;
        height: 4vh;
        color: white;
    
    }
    
    .bienvenida .main-div2 li {
        height: 1rem;
        width: 2rem;
        padding: 1px;
        margin: 1px;
        font-size: 1.5rem;
    }
    
    .bienvenida .main-div2 a {
        color: inherit;
        text-decoration: none;
    }
    
    .bienvenida .main-div3 {
        background: linear-gradient(to top, #363b3f, #131616 );
        margin: 0;
        width: 100%;
        height: 100%;
    }
    
    .bienvenida .main-div3 div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .bienvenida .main-div3 div img {
        height: 33rem;
        margin: 1.5rem;
        border-radius: 1rem;
    }


}






/* ==== SECCION EXPERIENCIA ==== */


.seccion-exp {
    width: 100%;
    height: 30rem;
    padding: 1rem;
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-exp h1 {
    margin-top: 1rem;
    padding-top: 1rem;
}


.seccion-exp .seccion-exp-div {
    width: 40%;
    height: 100%;
    margin-block: 2rem;
    padding: 1rem;
    border: beige 1px solid;
    border-radius: 1rem;
}

.seccion-exp .seccion-exp-div h3 {
    padding-inline: 1rem;
    margin-inline: 1rem;
    margin-top: 1rem;
}

.seccion-exp .seccion-exp-div p {
    padding: .5rem;
    margin: 1rem;
    padding-inline: 1rem;
    margin-inline: 1rem;
}


@media  (max-width: 600px ) {

    /** ==== SECCION EXPERIENCIA RESPONSIVE ==== */
    /** ==== SECCION EXPERIENCIA RESPONSIVE ==== */
    /** ==== SECCION EXPERIENCIA RESPONSIVE ==== */

    .seccion-exp {
        width: 100%;
        height: 45rem;
        padding: 1rem;
        margin-bottom: 0;
        background: linear-gradient(to bottom, #363b3f, #131616 );
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    
    .seccion-exp h1 {
        
        margin-top: 1rem;
        padding-top: 1rem;
    }
    
    
    .seccion-exp .seccion-exp-div {
        width: 80%;
        height: 100%;
        margin-block: 2rem;
        padding: .2rem;
        border: beige 1px solid;
        border-radius: 1rem;
        text-wrap: balance;
    }
    
    .seccion-exp .seccion-exp-div h3 {
        padding-inline: 1rem;
        margin-inline: 1rem;
        margin-top: 1.8rem;
    }
    
    .seccion-exp .seccion-exp-div p {
        padding: .5rem;
        margin: 1rem;
        padding-inline: 1rem;
        margin-inline: 1rem;
        font-size: .85rem;
        
    }

    
}






/* ==== SECCION PROYECTOS ==== */


#proyectos {
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70rem;
    padding: 1rem;
}

#proyectos h2 {
    height: 7%;
    width: 100%;
    text-align: center;
}

.div-proyectos {
    width: 50rem;
    height: 50rem;
    border: beige 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    grid-auto-flow: dense;
}



.div-proyectos div {
    width: 90%;
    height: 90%;
    margin: .5rem;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: beige 1px solid;
    border-radius: 1rem;
}



@media  (max-width: 600px ) {

    /** ==== SECCION PROYECTOS RESPONSIVE ==== */
    /** ==== SECCION PROYECTOS RESPONSIVE ==== */
    /** ==== SECCION PROYECTOS RESPONSIVE ==== */


    #proyectos {
        background: linear-gradient(to top, #363b3f, #131616 );
        width: 100%;
        height: 70rem;
        
        margin-bottom: 0;
        padding: .5rem;
    }
    

    #proyectos h2 {
        height: 7%;
        width: 100%;
        text-align: center;
    }
    

    .div-proyectos {
        width: 85%;
        height: 40rem;
        border: beige 1px solid;
        border-radius: 1rem;
        margin: .5rem;
        margin-left: 0;
        padding: .5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 1rem;
        grid-auto-flow: dense;
    }
    
    
    .div-proyectos div {
        width: 90%;
        height: 80%;
        margin: .4rem;
        margin-left: .1rem;
        padding: .4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: beige 1px solid;
        border-radius: 1rem;
    }
    
    
}






/* ==== SECCION STACK ==== */


.stack {
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.stack h1 {
    text-align: center;
    margin: 2rem;
    width: 50%;
    height: 3rem;
}


.stack div {
    padding: 1rem;
    width: 50%;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.stack div svg {
    font-size: 3.5rem;
    margin: .5rem;
    padding: .5rem;
}


@media  (max-width: 600px ) {

    /** ==== SECCION STACK RESPONSIVE ==== */
    /** ==== SECCION STACK RESPONSIVE ==== */
    /** ==== SECCION STACK RESPONSIVE ==== */

    .stack {
        background: linear-gradient(to bottom, #363b3f, #131616 );
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        
    }
    
    .stack h1 {
        text-align: center;
        margin: 2rem;
        width: 50%;
        height: 3rem;
    }
    
    
    .stack div {
        padding: 1rem;
        width: 80%;
        height: 20rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    
    .stack div svg {
        font-size: 1.5rem;
        margin: .5rem;
        padding: .5rem;
    
    }
}



/* ==== SECCION FOOTER ==== */

#footer {
    background: linear-gradient(to left, #363b3f , #131616 , #363b3f );
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    
}

#footer ul li {
    margin: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
}


@media  (max-width: 600px ) {

    /** ==== SECCION FOOTER RESPONSIVE ==== */
    /** ==== SECCION FOOTER RESPONSIVE ==== */
    /** ==== SECCION FOOTER RESPONSIVE ==== */

    #footer {
        background: #131616;
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #footer ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        align-items: center;
        justify-content: center;
        
    }
    
    #footer ul li {
        margin: .5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }
}